@import "../../styles/variables.scss";

.menu {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;

    .title {
      color: $soft-color;
      font-size: 14px;
      font-weight: 200;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
    }
  }
}
